.table-element {
    margin-top: 20px;
    width: 80vw;
    tr {
        box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.08);
        border-radius: 13px;
        th {
            text-align: center;
            &:first-child {
                width: 20%;
                // max-width: 15px;
            }
           
            &:nth-child(2) {
                text-align: start;
                text-overflow: ellipsis;
                // max-width: 120px;
                width: 60%;
            }
            &:nth-child(3) {
                // max-width: 120px;
                width: 15%;
            }
            &:nth-child(4) {
                // max-width: 120px;
                width: 5%;
            }
        }
    }
}

.imgaes {
    img {
        width: 120px;
        height: 120px;
    }
}
.total-price {
    text-align: end;
    font-size: 32px;
}

.button-price {
    display: flex;
    align-items: flex-end;
    background-color: rgb(246, 109, 109);
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
}
