.table-element {
    margin-top: 20px;
    width: 80vw;
    tr {
        th {
            text-align: center;
            &:first-child {
                width: 5%;
                // max-width: 15px;
            }
            &:nth-child(2) {
                // max-width: 120px;
                width: 10%;
            }
            &:nth-child(3) {
                text-align: start;
                text-overflow: ellipsis;
                // max-width: 120px;
                width: 80%;
            }
            &:nth-child(4) {
                // max-width: 120px;
                width: 5%;
            }
        }
    }
}

.imgaes {
    img {
        width: 120px;
        height: 120px;
    }
}
