.header {
    background: var(--bg-url) no-repeat top center;
    aspect-ratio: 4 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.header .heading {
    color: #fff;
    font-size: 30px;
    font-weight: 800;
}

.breadcrumbs {
    color: #fff !important;
    margin-top: 14px;
}

.breadcrumb-link {
    text-decoration: none;
    color: #fff !important;
    font-size: 16px;
}

.breadcrumb-text {
    text-decoration: none;
    pointer-events: none;
    color: #fff !important;
    font-size: 16px;
}

.breadcrumbs:hover,
.breadcrumb-link:hover {
    color: #fff !important;
    /* text-decoration: underline; */
}

.body {
    margin-inline: 15px;
    padding-inline: 0 !important;
}

.body .heading {
    font-size: 22px;
    margin-top: 72px;
    text-align: center;
    font-weight: 800;
}

.body .sub-heading {
    font-size: 16px;
    text-align: justify;
    margin-top: 16px;
    font-weight: 400;
}

.service-list {
    margin-top: 30px;
    display: grid;
    gap: 10px !important;
}

.item {
    color: #000;
    text-decoration: none;
}

@media screen and (min-width: 769px) {
    .header {
        aspect-ratio: unset;
        height: 300px;
    }

    .body .sub-heading {
        width: 80%;
        margin-inline: auto;
    }

    .body .heading {
        margin-top: 80px;
    }

    .body {
        max-width: 1200px;
        margin: auto;
    }

    .service-list {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .body {
        margin-inline: 15px !important;
    }
}

@media screen and (min-width: 1024px) {
    .body {
        margin-inline: 30px !important;
    }
}

@media screen and (max-width: 600px) {
    .breadcrumbs {
        display: block !important;
    }
}
