.box1{
    width: 200px;
    height: 200px;
}
.anh{
    height: 100%;
    width: 100%;
}

.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999999 !important; /* Đảm bảo z-index cao hơn so với các phần tử khác */
  }